<div class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true"
    style="background-image: url('../assets/img/city-profile.jpg');">
  </div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">
              <img src="../assets/img/faces/christian.jpg" alt="Circle Image"
                class="img-raised rounded-circle img-fluid">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3 row">
                <label class="col-sm-2 col-form-label offset-3">Name</label>
                <div class="col-5" *ngIf="user">
                  <input type="text" readonly class="form-control-plaintext" id="Name" [value]="user.name">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3 row">
                <label class="col-sm-2 col-form-label offset-3">Email</label>
                <div class="col-5">
                  <input type="text" readonly class="form-control-plaintext" id="Email" [value]="user.email">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3 row">
                <label class="col-sm-2 col-form-label offset-3">Subject | Time</label>
                <div class="col-5">
                  <input type="text" class="form-control" id="Subject">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3 row ml-2 ">
                <button style="height: 30px; color: white;background-color: green;" class="col-4 offset-3"
                  type="button" (click)="addSubjects()">Add Subject</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-subject></app-subject>
  </div>
</div>
